{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "extends": [
    "standard",
    "standard-react",
    "prettier",
    "prettier/react",
    "prettier/standard"
  ],
  "plugins": ["react", "prettier", "standard"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off"
  },
  "globals": {}
}
