a.tomato {
  color: #FF6347
}
a.tomato:hover {
  color: #ff2f0a;
}
.markdown-body a {
  font-weight: bold;
}
.markdown-body a:hover {
  text-decoration: underline;
}
.Intro a.tag {
  font-weight: bold;
}
.Intro a.tag:hover {
  text-decoration: underline;
}
.Intro a.title {
  color: #4A4A4A;
}
.Intro a.title:hover {
  color: #2E2E2E;
}
.Intro a.more {
  padding: 1rem 0 0 0;
  display: block;
}
a.nav {
  padding: 0.3rem 1rem;
  font-size: 1.7rem;
}
@media (min-width: 52em) {
  a.nav {
    padding: 0.3rem 1rem;
    font-size: 2.4rem;
  }
}
.title {
  color: #FFF;
}
.desc {
  color: #fff;
  font-size: 2rem;
  line-height: 1.5em;
  font-weight: 400;
  font-family: "Merriweather", serif;
  letter-spacing: 0.01rem;
}
.logo {
  z-index: 1000;
  top: 10px;
  left: 10px;
  position: absolute;
}
.logo:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  transition: all 0.4s ease-in-out 0s;
}
@media (min-width: 52em) {
  .logo {
    position: fixed;
  }
}
.Summary .date {
  display: none;
}

.Summary {
  font-size: 1.5rem;
}

@media (min-width: 40em) {
  .Summary {
    font-size: 1.7rem;
  }
  .Summary .date {
    display: inline-block;
  }
}
