@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/Merriweather-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
